@cortexapps:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${PACKAGES_REGISTRY_GITHUB_AUTH_TOKEN}

registry=http://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
engine-strict=true
