name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  NODE_AUTH_TOKEN: ${{ secrets.READ_PACKAGES_GITHUB_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn --frozen-lockfile
      - run: yarn tsc
      - run: yarn lint
      - run: yarn test
      - run: yarn build
        env:
          CI: true
